/*------------VARIABLES--------------*/
/*-------------HEADER-------------*/
body, html {
  height: 100%; }

body {
  font-family: Lora, serif;
  font-size: 15px;
  padding: 0; }

h2 {
  font-family: Poiret One, cursive;
  font-size: 50px;
  margin: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 40px;
  text-align: center; }

header {
  background-color: #00001F;
  position: fixed;
  height: 80px;
  opacity: 50%;
  top: 0;
  width: 100%;
  z-index: 100; }
  header #sm_logo, header #sm_logo_perm {
    color: #fff;
    font-family: Poiret One, cursive;
    font-size: 50px;
    padding: 15px;
    position: relative;
    top: 20px;
    text-decoration: none; }
  header #sm_logo {
    opacity: 0; }
  header #sm_logo:hover, header #sm_logo_perm:hover {
    color: #1B998B; }
  header nav ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0; }
  header nav li {
    display: inline-block;
    padding: 8px;
    font-family: Poiret One, cursive;
    font-size: 20px; }
  header nav a {
    color: #fff;
    text-decoration: none; }
  header nav a:hover {
    text-decoration: line-through;
    color: #1B998B; }
  header nav .back {
    float: right;
    margin: 5px;
    padding-right: 25px; }
  header nav .back :hover {
    			/*
    			-webkit-transform: scale(1.5);
    			-moz-transform:scale(1.5); 
    			-ms-transform:scale(1.5); 
    			-o-transform:scale(1.5); 
     			transform:scale(1.5);*/
    text-decoration: none; }

/*-----------BODY CONTENT--------------*/
#wrapper {
  margin-top: 80px;
  height: 90%; }
  #wrapper #intro {
    height: 100%; }
    #wrapper #intro #fixed {
      background: url("../img/gradient1.png");
      background-size: cover;
      background-position: bottom;
      position: fixed;
      height: 90%;
      width: 100%;
      z-index: -100; }
    #wrapper #intro #title {
      position: relative;
      top: 30%;
      text-align: center;
      z-index: 50; }
      #wrapper #intro #title h1 {
        font-family: Poiret One, cursive;
        font-size: 75px; }
      #wrapper #intro #title h3 {
        font-size: 30px;
        font-family: Josefin Slab, serif;
        margin: 20px; }
      #wrapper #intro #title i {
        color: #fff;
        position: relative;
        top: 130px; }
  #wrapper #scroll {
    height: 100%; }
    #wrapper #scroll #about, #wrapper #scroll #work, #wrapper #scroll #contact {
      padding: 30px;
      padding-top: 100px;
      height: 80%; }
    #wrapper #scroll h2 {
      font-size: 40px;
      text-align: center; }
    #wrapper #scroll #about {
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100vh;
      padding-top: 80px;
      margin: 0; }
      #wrapper #scroll #about #pattern {
        border-radius: 5px;
        height: 80%;
        width: 95%;
        margin: 0 auto;
        padding: 0;
        position: relative;
        background: url("../img/pattern-block.png");
        background-position: center;
        background-repeat: no-repeat; }
        #wrapper #scroll #about #pattern #text {
          font-size: 17px;
          font-family: Lora, serif;
          width: 75%;
          margin: 0 auto;
          line-height: 140%;
          position: absolute;
          top: 23%;
          left: 12%; }
          #wrapper #scroll #about #pattern #text h3 {
            font-family: Poiret One, cursive;
            font-size: 30px;
            margin-bottom: 20px; }
          #wrapper #scroll #about #pattern #text a {
            text-decoration: none;
            color: #1B998B; }
          #wrapper #scroll #about #pattern #text a:hover {
            text-decoration: line-through; }
      #wrapper #scroll #about h2 {
        position: relative;
        left: 3px; }
    #wrapper #scroll #work {
      background-color: #fff; }
      #wrapper #scroll #work .pieces {
        text-align: center; }
        #wrapper #scroll #work .pieces .box {
          border-radius: 5px;
          border: 1px solid black;
          display: inline-block;
          height: 250px;
          overflow: hidden;
          width: 30%; }
        #wrapper #scroll #work .pieces #work1 {
          background: url("../img/doors-open.png");
          background-size: cover;
          background-position: center; }
        #wrapper #scroll #work .pieces #work2 {
          background: url("../img/CITF-home.png");
          background-size: cover;
          background-position: center; }
        #wrapper #scroll #work .pieces #work3 {
          background: url("../img/graffito.png");
          background-size: cover;
          background-position: center; }
        #wrapper #scroll #work .pieces .box:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          /* Firefox */
          -ms-transform: scale(1.1);
          /* IE 9 */
          -o-transform: scale(1.1);
          /* Opera */
          transform: scale(1.1); }
        #wrapper #scroll #work .pieces .overlay {
          background: rgba(0, 0, 0, 0.75);
          height: 250px;
          text-align: center;
          opacity: 0;
          width: 100%;
          -webkit-transition: opacity .25s ease;
          -moz-transition: opacity .25s ease; }
          #wrapper #scroll #work .pieces .overlay p {
            color: #fff;
            padding: 5px;
            position: relative;
            top: 50px; }
          #wrapper #scroll #work .pieces .overlay .title {
            font-family: Poiret One, cursive;
            font-size: 30px; }
          #wrapper #scroll #work .pieces .overlay .description {
            font-size: 15px; }
        #wrapper #scroll #work .pieces .box:hover .overlay {
          opacity: 1; }
    #wrapper #scroll #contact {
      background: url("../img/gradient3.png"); }
      #wrapper #scroll #contact p {
        font-family: Lora, serif;
        font-size: 17px;
        padding-top: 20px;
        position: relative;
        text-align: center; }
      #wrapper #scroll #contact ul {
        padding-top: 200px;
        margin: 0 auto;
        width: 100%;
        text-align: center; }
      #wrapper #scroll #contact ul li {
        display: inline-block;
        width: 10%; }
      #wrapper #scroll #contact a {
        padding: 10px;
        color: #fff;
        text-decoration: none; }
      #wrapper #scroll #contact li a:hover {
        color: #00001F; }
  #wrapper img {
    float: left;
    width: 60%; }
  #wrapper #sidebar .live {
    background-color: #1B998B;
    border-radius: 5px;
    color: #fff;
    float: left;
    padding: 15px;
    margin: 5px;
    margin-left: 25px;
    text-decoration: none; }
  #wrapper #sidebar .live:hover {
    color: #1B998B;
    background-color: #fff;
    border: 2px solid #1B998B; }
  #wrapper #sidebar .details {
    float: left;
    margin: 2%;
    width: 33%; }
    #wrapper #sidebar .details h3 {
      font-family: Poiret One, cursive;
      font-size: 30px;
      padding: 5px; }
    #wrapper #sidebar .details p {
      font-family: Lora, serif;
      line-height: 120%;
      padding: 5px; }

 /*END WRAPPER

/*-----------FOOTER--------------*/
footer {
  clear: both;
  background-color: #00001F;
  height: 50px; }
  footer p {
    color: #fff;
    padding-top: 15px;
    text-align: center; }

@media screen and (max-width: 680px) {
  #contact ul li {
    margin: 12px; } }
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden; }

  #wrapper #scroll #work .pieces {
    border: 1px solid red; }
    #wrapper #scroll #work .pieces .box {
      display: block;
      margin-bottom: 10px;
      width: 70%; }
  #wrapper #scroll #about {
    border: 1px solid red; }
    #wrapper #scroll #about #pattern {
      border: 1px solid black; } }

/*# sourceMappingURL=style.css.map */
