/*------------VARIABLES--------------*/
//COLOURS
$primary: #1975D1;
$black: #00001F;
$white: #fff;
$accent: #1B998B;
$accent2: #1B4E8B;

//FONTS
$main_font: Lora, serif;
$heading_font: Poiret One, cursive;
$light_font: Josefin Slab, serif;
//$main_font: Open Sansdensed , sans-serif;
$xlg_text:50px;
$lg_text: 40px;
$md_text: 30px;
$sm_text: 20px;
$lil_text: 15px;

//WORK IMGE URLS
$work1: url('../img/logo.png');
$work2: url('../img/CITF-home.png');
$work3: url('../img/logo.png');

//BACKGROUND IMAGES
//$back1: url('../img/back1.png');
$back1: url('../img/gradient1.png');
$gradient2: url('../img/gradient2.png');
$gradient3: url('../img/gradient3.png');
$back2: url('../img/pattern2.jpg');
$back3: url('../img/pattern3.png');
$back4: url('../img/pattern-long.png');
$back5: url('../img/pattern-block.png');

/*-------------HEADER-------------*/
body, html {
   height: 100%;
}

body{
	font-family: $main_font;
	font-size: 15px;
}

h2{
	font-family: $heading_font;
	font-size: 50px;
	margin:5px;
	margin-bottom:20px;
	margin-left:20px;
	padding-top:40px;
	text-align:center;
}

header{
	//display:none;
	background-color:$black;
	position: fixed;
	height:80px;
	opacity: 50%;
	top:0;	
	width: 100%;
	z-index:100;

	#sm_logo, #sm_logo_perm{
		//border:1px solid $white;
		//border-radius:35px;
		color:$white;
		font-family: $heading_font;
		font-size: $xlg_text;
		padding:15px;
		position:relative;
		top:20px;
		text-decoration: none;
	}

	#sm_logo{
		opacity: 0;
	}

	#sm_logo:hover, #sm_logo_perm:hover{
		color: $accent;
	}

	nav {

		ul{
			float:right;
			list-style: none;
			margin-right:10px;
			position: absolute;
			bottom:0;
			right:0;
		}
		
		li{
			display: inline-block;
			padding:8px;
			font-family: $heading_font;
			font-size: $sm_text;

		}

		a{
			color: $white;
			text-decoration: none;
		}

		a:hover{
		text-decoration:line-through;
		color:$accent;
		}

		.back{
			//display: none;
			float:right;
			margin:5px;
			padding-right:25px;
		}

		.back :hover{
			/*
			-webkit-transform: scale(1.5);
			-moz-transform:scale(1.5); 
			-ms-transform:scale(1.5); 
			-o-transform:scale(1.5); 
 			transform:scale(1.5);*/
 			text-decoration: none;
		}

	}
}

/*-----------BODY CONTENT--------------*/

#wrapper{
	margin-top: 80px;
	height: 90%;

		#intro{
			//border:1px solid red;
			height: 100%;

			#fixed{
			background: $back1;
			background-size:cover;
			background-position: bottom;
			position:fixed;
			height: 90%;
			//background-color: grey;
			width:100%;
			z-index: -100;
		}

			#title{
				position: relative;
				top:30%;
				//left:30%;
				text-align: center;
				z-index: 50;

				h1{
				font-family: $heading_font;
				font-size: 75px;
				}

				h3{
				font-size: 30px;
				font-family: $light_font;
				margin:20px;
				}

				i{
					color:$white;
					position:relative;
					top:130px;
				}
		}
	}
	#scroll{
		height:100%;

		#about, #work, #contact{
			//background-color:$white;
			padding:30px;
			padding-top:100px;
			height: 80%;
			//border: 1px solid purple;
		}


		h2{
			font-size: $lg_text;
			text-align: center;
		}

		#about{
			//background:$back4;
			background-size:100%;
			background-repeat: no-repeat;
			background-position: 0 -50;
			//border:1px solid orange;
			clear:both;
			height:100%;

			#pattern{
				border:1px solid transparent;
				border-radius:5px;
				//height:365px;
				height:100%;
				width:100%;
				margin: 0 auto;
				background: $back5;
				background-size:100%;
				background-repeat: no-repeat;
			}

			h2{
				position:relative;
				left:3px;
			}
		}

		#work{

			background-color:$white;

			.pieces{
				text-align: center;
				//width:100%;
				//margin: 0 auto;

				.box {
					border-radius:5px;
					border:1px solid black;
					display: inline-block;
					height: 250px;
					overflow:hidden;
					width:30%;		
				}

				#work1{
					background:$work1;
					background-size:cover;
					background-position: center;
					}

				#work2{
					background:$work2;
					background-size:cover;
					background-position: center;
				}

				#work3{
					background:$work3;
					background-size:cover;
					background-position: center;
				}

				.box:hover{
					-webkit-transform: scale(1.10);
					-moz-transform:scale(1.10); /* Firefox */
	    			-ms-transform:scale(1.10); /* IE 9 */
	    			-o-transform:scale(1.10); /* Opera */
	     			transform:scale(1.10);


				}

				.overlay{
					background:rgba(0,0,0,.75);
					height: 250px;
              	    text-align:center;
              	    opacity:0;
              	    width:100%;
             	    -webkit-transition: opacity .25s ease;
             	    -moz-transition: opacity .25s ease;

             	    p{
             	    	color: $white;
             	    	padding: 5px;
             	    	position: relative;
             	    	top:50px;
             	    }

             	    .title{
             	    	font-family: $heading_font;
             	    	font-size: $md_text;
             	    }

             	    .description{
             	    	font-size: $lil_text;
             	    }
				}

				.box:hover .overlay {
              	    opacity:1;}
			}
		}
		#contact{

			background:url('../img/gradient3.png');

			p{
				margin:0 auto;
				padding-top:20px;
				width:45%;
			}

			ul {
				padding-top:200px;
				margin: 0 auto;
				width:40%;
			}

			ul li{
				float:left;
				margin:9px;
			}

			a{				
                padding: 10px;
				position: inline-block;
				color: $white;
				text-decoration: none;
			}

			li:hover{
				font-size: $sm_text;
				margin:0;
			}
		}

	}

	img{
		float:left;
		width:60%;
	}


#sidebar{
	.live{
		background-color:$accent;
		border-radius:5px;
		color: $white;
		float:left;
		padding:15px;
		margin:5px;
		margin-left:25px;
		text-decoration: none;
	}

	.live:hover{
		//animation-name: rainbow;
		//animation-duration: 3s;
		//background-color: $accent2;
		color: $accent;
		background-color:$white;
		border:2px solid $accent;
	}

	.details{
		float:left;
		margin: 2%;
		width:33%;

		h3{
			font-family: $heading_font;
			font-size: $md_text;
			padding:5px;
		}

		p{
			line-height: 120%;
			padding:5px;
		}
	}
}

}/*END WRAPPER

/*-----------FOOTER--------------*/

footer{
	clear:both;
	background-color:$black;
	height:50px;

	p {
		color: $white; 
		margin: 0 auto;
		padding-top:15px;
		width: 15%;
	}
}

/*-----------2NDARY--------------*/

